
.booking-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-details-page__content {
  padding: 20px;
  background-color: var(--color-secondary);
  min-height: calc(100vh - 60px);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.booking-details-page__layout {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  gap: 20px; 
}


.offer-details__info {
  flex: 1;          
  max-width: 400px;  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


.booking-details__container {
  flex: 2;           
  max-width: 800px;  
}

.card__imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.time-details{
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
}