.register-page__content {
    max-width: 600px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
     width: 100%;
}

.input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
}

.register-submit-btn {
    margin-top: 12px;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background-color: #0071c2;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.register-submit-btn:hover {
    background-color: #005fa3;
}
