.item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 30px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background: #fff;
    font-size: 14px;
    color: var(--color-text);
    white-space: nowrap;
    font-size: 24px;
}

.icon {
    font-size: 20px;
    color: #333;
}
