.searchBar {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-form-border);
  color: var(--color-text);
  border-radius: 8px;
  border: 4px solid var(--color-form-border);
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-form-border);
  padding: 0.5rem;
  border-radius: 7px;
}

.inputGroup input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--color-input-border);
  background-color: var(--color-input-bg);
  color: var(--color-text);
}

.input_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.input_item {
  border: none;
}

.suggestions_wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: var(--color-input-border);
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1000;
  background: var(--color-secondary);
}