.hotelCardList {
  display: grid;
  gap: 24px;
  padding: 16px;
  
  grid-template-columns: 1fr;
}


@media (min-width: 600px) {
  .hotelCardList {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 900px) {
  .hotelCardList {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (min-width: 1200px) {
  .hotelCardList {
    grid-template-columns: repeat(4, 1fr);
  }
}
