.card {
  display: grid;
  grid-template-columns: 240px 1fr;
  padding: 16px;
  border: 1px solid  var( --color-primary);
  box-shadow: 1px 1px 5px rgba(var(--color-primary-rgb), 0.5); 
  border-radius: 12px;
  gap: 16px;
  background:var(--color-secondary);
}

.card__imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card__location {
  font-size: 14px;
  color: var( --color-secondary-light);
  display: flex;
  gap: 6px;
  align-items: center;
}

.card__badges {
  display: flex;
  gap: 6px;
  margin: 6px 0;
}

.card__badge {
  background:var(--color-form-border);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.card__details {
  margin-top: 8px;
  color: var( --color-secondary-light);
}

.card__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating__score {
  background: var( --color-bg);
  color: var( --color-secondary);
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: bold;
}

.card__priceBlock {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-end;
}
