# services:
#   webapigetway:
#     image: ${DOCKER_REGISTRY-}webapigetway
#     build:
#       context: .
#       dockerfile: WebApiGetway/Dockerfile

services:
  webapigetway:
    image: ${DOCKER_REGISTRY-}webapigetway
    build:
      context: ./WebApiGetway
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - UserApiServiceUrl=http://userapiservice
    depends_on:
      - userapiservice

  userapiservice:
    build:
      context: ./UserApiService
      dockerfile: Dockerfile
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      